﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
    <script src="@Url.Content("~/Scripts/moment-with-langs.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kichi.js")"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="@Url.Content("~/Scripts/semantic.js")"></script>
    <script src="@Url.Content("~/Scripts/feed.js")"></script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '213919742401914',
                status: true,
                cookie: true,
                xfbml: true
            });
        };

        // Load the SDK asynchronously
        (function () {
            if (document.getElementById('facebook-jssdk')) { return; }
            var firstScriptElement = document.getElementsByTagName('script')[0];
            var facebookJS = document.createElement('script');
            facebookJS.id = 'facebook-jssdk';
            facebookJS.src = '//connect.facebook.net/en_US/all.js';
            firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
        }());
    </script>

    <script>
        String.format = function () {
            var s = arguments[0];
            for (var i = 0; i < arguments.length - 1; i++) {
                var reg = new RegExp("\\{" + i + "\\}", "gm");
                s = s.replace(reg, arguments[i + 1]);
            }
            return s;
        }
    </script>

    <header>
        <div id="toolbar" class="ui-animate-top-250 show">
            <div class="col940">
                <div class="general-menu">
                    <a class="internal-link" href="/">
                        <div class="logo" style="width: 136px;"></div>
                    </a>
                    <div id="searchbox">
                        <form action="/search" method="post">
                            <input class="search-topbar" type="text" name="id" id="search-topbar" placeholder="Tìm kiếm món ăn, người nấu" style="font-style: italic; top: -7px; margin: 8px 0; height: 28px; width: 250px; border: none; font-size: 1em; line-height: 1.2em; color: #919190; padding: 0 0 2px 8px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;">
                        </form>
                        <div class="search-icon"></div>
                    </div>
                    <div id="main-menu">
                        <ul id="sections-menu">
                            <li class="explore" data-value="explore">
                                <a class="internal-link" href="@Url.Content("~/explore")">Món ăn</a>
                            </li>
                            <li class="people" data-value="people">
                                <a class="internal-link" href="@Url.Content("~/people")">Đầu bếp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="user-menu-new">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @*<footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
